apiVersion: v1
kind: Service
metadata:
  name: blog-svc
  labels:
    app: blog
spec: 
  type: NodePort
  selector:
    app: blog
  ports:
   - protocol: TCP
     port: 3000
     targetPort: 3000
     nodePort: 30300